<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    
    <style>
        html, body {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    @RenderBody()
    @Html.AntiForgeryToken()
</body>
</html>
